@counter-style thumbs {
    system: cyclic;
    symbols: "\1F44D";
    suffix: " ";
  }
ul{
    border-radius: 5px;
}
li{
    font-size: 20px;
    /*list-style-image: url('../img/flag-checkered.svg');
    list-style-position: outside;*/
    margin: 0;   
}